@font-face {
  font-family: "barlow condensed";
  src: url(./assets/fonts/BarlowCondensed-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "bellefair";
  src: url(./assets/fonts/Bellefair-Regular.ttf) format("ttf");
}

:root {
  --barlow-font: "barlow";
  --barlow-condensed-font: "Barlow condensed";
  --bellefair-font: "bellefair";

  --dark-blue: #0B0D17;
  --sky-blue: #D0D6F9;
  --white: #FFFFFF;
  --hover-bg: #979797;
}